<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZJF-FMDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CFBD2B01D77BF02004DDF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CFBD2C91D77BF02004DDF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CFBD2D41D77BF02004DDF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
